.Message {
  text-align: left;
  font-size: 26px;
}
header {
  text-align: center;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background: #323232;
  color: #ffffff;
}

nav {
  text-align: center;
}


/* Style the top navigation bar */
.topnav {
  text-align: center;
  align-content: center;
  overflow: hidden;
  background-color: #323232;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #1d1d1d;
  color: #ffffff;
}

/* Style the content */
.content {
  background-color: #ddd;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
footer {
  background-color: #1d1d1d;
  color: #7a7c7c;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  user-select: none;
}

img {
  user-select: none;
}

.login {
  width: 0;
  height: 30%;
  background: inherit;
  padding: 20px;
}

.show {
  width: 100%;
}
