.Message {
  text-align: left;
  font-size: 26px;
}
header {
  text-align: center;
}

* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  background: #323232;
  color: #ffffff;
}

nav {
  text-align: center;
}



/* Style the top navigation bar */
.topnav {
  text-align: center;
  align-content: center;
  overflow: hidden;
  background: #096f6d;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #25a8d3;
  color: #ffffff;
}

/* Style the content */
.content {
  background-color: #ddd;
  padding: 10px;
  height: 200px; /* Should be removed. Only for demonstration */
}

/* Style the footer */
footer {
  background-color: #1d1d1d;
  color: #7a7c7c;
  text-align: center;
  padding: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  user-select: none;
}

img {
  user-select: none;
}

.login {
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 1;
  margin-left: -800px;
  color: #ffffff;
}

.show {
  width: 100%;
}

.mylinks {
  text-align: center;
}

.txt {
  color: #ffffff;
  vertical-align: middle;
  user-select: none;
}

.Sett-right {
  color: #fffff;
  float: right;
  position: relative;
  text-align: right;
}

.btn {
  border: none;
  border-radius: 4px;
  font-size: 17px;
}

.sbmbtn {
  background: rgba(34, 129, 238, 0.945);
  color: #ffffff;
}
.loginform {
  font-size: 30px;
  text-align:center;
  background: #1d1d1d;
  width: 60%;
  max-height: 200px;
  height: 50%;
  border-radius: 6px;
  margin-left: auto;
  margin-right:auto;
  margin-top: auto;
  margin-bottom: auto;
}
